/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
  width: 50vw;
}

/* The width of each slide */
.slick-slide {
  width: 20vw;
}

/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
  color: #ffc9fb;
  font-size: 1.4rem;
}

.slick-dotted.slick-slider {
  margin-bottom: 10vh;
}

.slick-dots li button::before {
  font-size: 1rem;
  color: #ffc9fb;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  color: #ffc9fb;
  opacity: 1;
}

/* If the screen size is 801px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  /* Defines the width of the carousel and centers it on the page */
  .slick-carousel {
    margin: 0 auto;
    width: 50vw;
  }

  .slick-next,
  .slick-prev {
    display: block;
  }

  .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}

/* If the screen size is 800px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  /* Defines the width of the carousel and centers it on the page */
  .slick-carousel {
    margin: 0 auto;
    width: 70vw;
  }
  .slick-next,
  .slick-prev {
    display: none;
  }
  .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
