.sticky{
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-link{
  color: azure;
  transition: all 0.3s;
}

.nav-link:hover{
  color: #e78be1;
  transition: all 0.3s;
}

.nav-theme{
  color: azure;
}

.extra-padding{
  padding-top: 110px;
}