/* ::-webkit-scrollbar {
  display: none;
} */
body {
  margin: 0;
}
#parallax-container {
  height: fit-content;
  display: block;
  background-repeat: no-repeat;
}

#parallax-container parallax-object {
  position: fixed;
  top: 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  height: 100vh;
  width: 100%;
}
