html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.intro{
  
  position: relative;

  height: 99vh;
  width: auto;
  
}

.my-container{
  
  margin: 0;
  
  position: relative;

  hyphens: auto;

  padding: 0;
  
  width: 100%;
  /* height: auto; */
  min-height: 100vh;
  justify-content: center;
  color: #FFC9FB;
}

.dark-color{
  background-color: #2D112B;
}

.light-color{
  background-color: #550029;
}

.large-hover{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.8s;
}

.large-hover:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: transform 1s;
}

.card{
  background-color: transparent;
  width: 70vw;
  margin: 1em;
  padding: 1em;
  border: 0;
}

.bold-font{
  font-weight: 700;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  border-top: 2px solid #FFC9FB;
}


/* If the screen size is 801px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  h1 {
    font-size: 4vw;
    font-weight: 300;
  }
  h2 {
    font-size: 2vw;
  }

  .desc{
    width: 50vw;
    text-align: center;
  }

  .desc-start{
    align-items: flex-start;
    border-color: #FFC9FB;
    border-width: 0 0 0 0.2em;
    border-style: solid;
    padding-left: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    align-self: flex-start;
  }
  .desc-end{
    align-items: flex-end;
    border-color: #FFC9FB;
    border-width: 0 0.2em 0 0;
    border-style: solid;
    padding-right: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    align-self: flex-end;
  }
  .large-hide{
    display: none;
  }
}

/* If the screen size is 800px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.4em;
  }
  
  h2 {
    font-size: 1em;
  }

  .profile-photo{
    width: 12em;
  }
  .link-unstyled{
    font-size: 1.5em;
  }
  .desc-start{
    align-items: center;
  }
  .desc-end{
    align-items: center;
  }
  .card{
    width: 90vw;
    margin: 0;
    padding: 0;
  }
  .large-hide{
    display: block;
  }
}

.ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
      opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
      opacity: 0;
  }
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {

  text-align: center;
  color: #FFC9FB;

  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
 Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3B5998;
}

#social-em:hover {
  color: #c08403;
}

#social-git:hover {
  color: #24292e;
}

#social-li:hover {
  color: #0e76a8;
}

#social-gl:hover {
  color: #fc6d26;
}

#social-wa:hover {
  color: #25d366;
}

#social-ig:hover {
  color:#bc2a8d;
}

#fb-message{
  display: none;
}

#em-message{
  display: none;
}

#git-message{
  display: none;
}
#li-message{
  display: none;
}
#wa-message{
  display: none;
}
#ig-message{
  display: none;
}
